<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<th:block layout:fragment="content">
		<div class="borderdist">
			<div class="alert alert-danger" th:if="${bean}">
				Wollen Sie den Slot <span th:text="${#temporals.format(bean.slotDay, 'dd.MM.yyyy')}"></span> wirklich löschen?<br />
				<a th:href="@{/slot/{id}/destroy(id=${bean.pkSlot})}" class="btn btn-outline-danger" th:if="${bean.pkSlot}">Ja, definitiv</a>
			</div>
			<div class="alert alert-warning" th:unless="${bean}">
				Leider wurde das Datum bereits für einen Termin gebucht. Daher kann der Slot nicht gelöscht werden.
			</div>
		</div>
	</th:block>
</body>
</html>