<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<th:block layout:fragment="content">
		<div class="borderdist">
			<div class="container">
				<form th:action="@{/slot/save}" th:object="${bean}" method="post">
					<input type="hidden" th:field="*{pkSlot}" />
					<div class="row g-2">
						<div class="col-sm-2">Tag</div>
						<div class="col-sm-10">
							<input type="date" th:field="*{slotDay}" th:class="${#fields.hasErrors('slotDay') ? 'form-control bg-danger' : 'form-control'}" />
							<div th:each="err : ${#fields.errors('slotDay')}" th:text="${err}" class="alert alert-danger"></div>
						</div>
						<div class="col-sm-2">Notiz</div>
						<div class="col-sm-10">
							<textarea class="form-control" th:field="*{note}"></textarea>
						</div>
						<div class="col-sm-2"></div>
						<div class="col-sm-10">
							<button type="submit" class="btn btn-outline-primary">Speichern</button>
							<a th:href="@{/slot/{id}/delete(id=${bean.pkSlot})}" class="btn btn-outline-danger" th:if="${bean.pkSlot}">Löschen</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</th:block>
</body>
</html>