/*
html {
	width: 100%;
	height: 100%;
}
*/

body {
	background-color: #abc;
}

[data-bs-theme=dark] body {
	background-color: rgb(36, 31, 49);
}

.borderdist {
	border-radius: 4px;
	border: 1px solid gray;
	padding: 8px;
	margin: 8px;
	background-color: #eee;
}

[data-bs-theme=dark] .borderdist {
	background-color: #333;
}