<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<th:block layout:fragment="content">
		<div class="borderdist">
			<table id="table" class="table table-striped">
				<thead>
					<tr>
						<th>Tag</th>
						<th>Kürzel</th>
						<th>Thema</th>
						<th>Notiz</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="s : ${list}">
						<td><span th:text="${#temporals.format(s.slotDay, 'yyyy-MM-dd')}" th:if="${s.pkLesson}"></span> <a th:href="@{/slot/{id}(id=${s.pkSlot})}"
							th:text="${#temporals.format(s.slotDay, 'yyyy-MM-dd')}" class="btn btn-outline-secondary" th:unless="${s.pkLesson}"></a></td>
						<td><a th:href="@{/person?slotId={id}(id=${s.pkSlot})}" class="btn btn-outline-secondary"> <span th:text="${s.abbreviation}" th:if="${s.abbreviation}"></span> <i
								class="bi bi-pencil" th:if="${s.abbreviation == null || s.abbreviation.isBlank()}"></i>
						</a></td>
						<td th:text="${s.theme}"></td>
						<td><a th:href="@{/slot/{id}(id=${s.pkSlot})}" class="btn btn-outline-secondary"> <span th:text="${s.slotNotes}"></span> <i class="bi bi-pencil"
								th:if="${s.slotNotes == null || s.slotNotes.isBlank()}"></i>
						</a></td>
						<td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5"><a th:href="@{/slot}" class="btn btn-outline-success">einen neues Datum anlegen</a></td>
					</tr>
				</tfoot>
			</table>
			<script th:inline="javascript">
				/*<![CDATA[*/
				$(document).ready(function() {
					$("#table").DataTable({
						"columnDefs" : [ {
							"targets" : 0,
							"type" : "date-eu"
						} ],
						"order" : [ [ 0, 'desc' ] ],
						"language" : locale_de
					});
				});
				/*]]>*/
			</script>
		</div>
	</th:block>
</body>
</html>